@use "../abstracts/mixins";
@use "../abstracts/variables";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {

}

body {
  box-sizing: border-box;
  padding: 1.8rem;
  @include mixins.query(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: variables.$color-primary;
  color: variables.$color-white;
}
